[package]
name = "py-spy"
version = "0.3.3"
authors = ["Ben Frederickson <github@benfrederickson.com>"]
repository = "https://github.com/benfred/py-spy"
homepage = "https://github.com/benfred/py-spy"
description = "Sampling profiler for Python programs "
readme = "README.md"
exclude = ["images/*", "test_programs/*"]
license = "MIT"
build="build.rs"

[dependencies]
clap = {version="2", features=["wrap_help"]}
console = "0.13"
ctrlc = "3"
indicatif = "0.15"
env_logger = "0.8"
failure = "0.1.8"
goblin = "0.3.0"
inferno = "0.10.2"
lazy_static = "1.1.0"
libc = "0.2.82"
log = "0.4"
lru = "0.6"
regex = "1"
tempfile = "3.0.3"
proc-maps = "0.1.6"
memmap = "0.7.0"
cpp_demangle = "0.3.2"
serde = {version="1.0", features=["rc"]}
serde_derive = "1.0"
serde_json = "1.0"
rand = "0.8"
rand_distr = "0.4"
remoteprocess = {version="0.4.2", features=["unwind"]}

[target.'cfg(unix)'.dependencies]
termios = "0.3.2"

[target.'cfg(windows)'.dependencies]
winapi = {version = "0.3", features = ["winbase", "consoleapi", "wincon", "handleapi", "timeapi", "processenv" ]}
